nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 690px
}
nav ul li {
    display: inline;
    margin-right: 20px;
   
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
}
main, aside {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 10px;
}
main {
    background-color: #f0f0f0;
    width: 70%;
}
aside {
    padding: 60px;
    background-color: #e0e0e0;
    width: 20%;
    margin-top: 20px;
}

section {
    background-color: #444;
    color: white;
    padding: 15px;
    margin: 20px;
}
@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 20%;
    }

hr{
    padding: 15px;
    color: white;
}
}

.menu-aside{
    padding: 15px;
    padding-left: 5px;
}

.item-aside{
    padding: 10px;
}

.menu-section{
    background-color: blue;
}

.menu-item-aside{
    padding: 10px;
}

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}



.navigation-bar{
    display: flex;
    position: relative;
    bottom: 35px;
    left: 90%;
    transform: translate(-50%);
}

input{
    display: none;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
    transition: 0.4s;
}

.slides{
    display: flex;
    width: 400%;
    height: 80%;
}

.slide{
    width: 33.33%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.333%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

.altura-asisde{
    width: 110%;
}